<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mijn Bestelling</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="scripts.js" type="text/javascript"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img alt="Fu King - Chinese Restaurant" src="images/logo.png" />
            <br>
            <h3 class="text-center">
                Mijn Bestelling
            </h3>
            <div id="order-row-container">
                <form class="row d-flex flex-row justify-contents-space-between" method="post">
                    <div class="col-md-5">
                        <div class="dropdown">
                            <select name="dish" id="dish-dropdown" class="btn btn-secondary dropdown-toggle">
                                <option value="" disabled selected>Schotel</option>
                                {% for dish in dishes %}
                                    <option value="{{ dish.id }}">
                                        {{ dish.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="dropdown">
                            <select name="assortment" id="assortment-dropdown" class="btn btn-secondary dropdown-toggle">
                                <option value="" disabled selected>Assortiment</option>
                                {% for assortment in assortments %}
                                    <option value="{{ assortment.id }}">
                                        {{ assortment.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-primary" value="Voeg toe">
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li class="list-item">
                                <div class="order-item d-flex flex-row align-items-center border rounded">
                                    <figure class="my-auto">
                                        <img class="order-photo rounded" src="images/biefstuk.jpg" alt="biefstuk">
                                    </figure>
                                    <div class="col-md-8">
                                        <div class="d-flex flex-column">
                                            <h3>
                                                <span class="meal-name">Biefstuk</span> met <span class="assortment-name">Frieten</span>
                                            </h3>
                                            <p>Prijs: <span class="meal-price">20,00 euro</span></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                {% for meal in order.meals %}
                                <li class="list-item">
                                    <div class="order-item d-flex flex-row align-items-center border rounded">
                                        <figure class="my-auto">
                                            <img class="order-photo rounded" src="images/{{ meal.dish.image }}" alt="biefstuk">
                                        </figure>
                                        <div class="col-md-8">
                                            <div class="d-flex flex-column">
                                                <h3>
                                                    <span class="meal-name">{{ meal.dish.name }}</span>
                                                    {% if meal.assortment %}
                                                        met <span class="assortment-name">{{ meal.assortment.name }} </span>
                                                    {% endif %}
                                                </h3>
                                                <p>Prijs: <span class="meal-price">{{ meal.price }} euro</span></p>
                                            </div>
                                            <div>
                                                <form action="order/delete/{{ meal.id }}" method="post">
                                                    <input type="submit" class="btn btn-primary" value="Delete">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>